body {
    font-family: georgia, sans-serif;
    width: 700px;
}

table.edged { 
 border-collapse: collapse;
}

table.edged td {
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #CCCCCC;
 vertical-align: top;
}

table.plain td {
 padding: 1px;
 margin-left: 1px;
 border: none;
 vertical-align: top;
}

tr.spacer { height: 1px; }
tr.spacer td {  border: none; }

td.command {
 font-weight: bold;
 font-size: 12px;
 text-decoration: none;
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 background: #DDE;
}

td.command a:link { 
 color: #448;
 text-decoration: none;
}  

td.command:hover { 
 color: #000;
 background: #AAE;
 border-color: #227;   
 cursor: pointer;
}

button {
 font-weight: bold;
 font-size: 12px;
 text-decoration: none;
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 background: #DDE;
}

button a:link { 
 color: #448;
 text-decoration: none;
}  

button:hover { 
 color: #000;
 background: #AAE;
 border-color: #227;   
 cursor: pointer;
}

h3, h4 {
    display : inline;
}

div.control {
    margin-top: 5px;
    margin-bottom: 5px;
    display : flex;
}

div.upload_block_button {
    flex : 0 0 50%;
    padding : 3px;
    min-height: 20px;
    background: #AAffAA;
    border: 1px solid #44AA44;
    border-radius: 4px;
}

button.upload_edit {
    display : none;
}

div.upload_block_button:hover {
    cursor : pointer;
    background: #44AA44;
}

div.upload_content {
    position: relative;
}

img.upload {
    position: absolute;
    top: 0px;
    width: 640px;
}

div.upload_label {
    width : 98%;
    margin: 2px;
    padding-left: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    border: 1px solid blue;
    border-radius: 3px;
    position: relative;
}

div.upload_time_label {
    display : inline-block;
    padding-right: 4px;
}

div.upload_teacher_label {
    display : inline-block;
}

div.upload_buttons {
    display : inline-block;
    position: absolute;
    right: 5px;
}

button.rot_button {
    font-size: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
}


div.stepper_container {
    flex : 1;
}

div.stepper_option {
    flex : 1;
    padding : 3px;
    min-height: 20px;
    background: #AAAAff;
    border: 1px solid #4444AA;
    border-radius: 4px;
}

div.stepper_option_responded {
    flex : 1;
    padding : 3px;
    min-height: 20px;
    background: #F8D568;
    border: 1px solid orange;
    border-radius: 4px;
}

div.stepper_option_active {
    cursor : pointer;
    flex : 1;
    padding : 3px;
    min-height: 20px;
    background: #CCCCFF;
    border: 1px solid #4444AA;
    border-radius: 4px;
}

div.stepper_option:hover { cursor: pointer }
div.stepper_option_active:hover { cursor: pointer }
div.stepper_option_responded:hover { cursor: pointer }

div.tab {
    overflow : hidden;
    border : 1px solid #CCC;
    background-color : #F1F1F1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 8px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #DDD;
}

div.tab button.active {
    background-color: #CCC;
}

div.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #CCC;
    border-top: none;
}

td.status {
    min-width : 80px;
    height : 30px;
}

div.explain_status {
    position : absolute;
    left : 0px;
    top : 30px;
    width : 100px;
    z-index : 1;
    background : #CCC;
    padding : 3px;
    border-radius : 3px;
}

span.work_icon:hover {
    cursor: pointer;
}

div.review {
    border : 1px solid black;
    border-radius : 3px;
    padding: 3px;
    width : 98%;
}

td.item_header {
    min-width: 80px;
    min-height: 30px;
}

div.item_review_header {
    width: 100%;
    background: #DDDDEE;
    padding: 4px;
    margin: 2px;
    border: 1px solid #888899;
    border-radius: 4px;
    position: relative;
}

img.toggler:hover {
    cursor: pointer;
}

div.item_review_status {
    display: inline-block;
    position: absolute;
    right: 30px;
}

div.item_review_work_icon {
    display: inline-block;
    position: absolute;
    right: 5px;
}

div.item_review_solution {
    background: #CCDDFF;
    padding : 3px;
    min-height: 20px;
    border: 1px solid #445566;
    border-radius: 4px;
}

div.item_show_solution {
    background: #CCDDFF;
    padding : 3px;
    min-height: 20px;
    border: 1px solid #445566;
    border-radius: 4px;
}

div.item_show_solution:hover {
    cursor: pointer;
}

div.notifier {
    display : none;
    position : fixed;
    left : 440px;
    top : 5px;
    width : 240px;
    min-height : 80px;
    padding: 3px;
    border: 2px solid orange;
    border-radius: 3px;
    z-index : 1;
    background : #F8D568;
    opacity : 1;
}

div.notifier:hover {
    cursor : crosshair;
}

span.item_header {
    font-weight: bold;
    color: #000070;
}

div.topmenu {
    position : absolute;
    left : 5px;
    top : 5px;
    height : 30px;
    width : 100%;
}

div.topmenu button {
    margin : 3px;
    padding : 5px;
    background : #B0E0B0;
    border : 1px solid #70A070;
    border-radius : 3px;
}

div.topmenu button:hover {
    cursor: pointer;
    background : #C0F0C0;
}

div.countdown {
    width : 100%;
    height : 100%;
    font-size : 36px;
    text-align : center;
    vertical-align : center;
}

tr.module_header td {
    width: 680px;
    font-size: 24px;
    background: #B0E0B0;
}

tr.problem_sheet_header td {
    font-size : 20px;
    background: #B0F0D0
}

button.session {
    width : 200px;
    height : 30px;
    border-radius : 4px;
}

button.session.approved {
    width : 300px;
    height : 50px;
    font-size : 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button.unscheduled.session {
    color : #888888;
    background : #EEEEEE;
}

button.future.session {
    color : #000000;
    background : #FFFFFF;
}

button.imminent.session {
    color : #000000;
    background : #2266DD;
}

button.imminent.session:hover {
    cursor : pointer;
    background : #4488FF;
}

button.running.session {
    color : #000000;
    background : #6666FF;
}

button.running.session:hover {
    cursor : pointer;
    background : #8888FF;
}

button.finished.session {
    color : #888888;
    background : #DDEEFF;
}

button.future.session.approved {
    border: 2px solid #000000;
}

button.imminent.session.approved {
    border: 2px solid #000000;
}

button.running.session.approved {
    border: 2px solid #000000;
}

textarea.temp {
    position: fixed;
    left: 0;
    top: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    border: none;
    outline: none;
    boxShadow: none;
    background: transparent;
}

div#session_header {
    font-size : 36px;
    font-weight : bold;
}

div.preview_solution {
    padding: 3px;
    background: #CCDDFF
}

input.date { width: 70px; }
input.time { width: 55px; }

h1.poll_list_title {
    font-weight: normal;
    font-size: 16px;
    font-family: georgia, sans-serif;
}

div.poll_state {
    width : 650px;
    background-color: #DDEEFF;
    padding : 5px;
    margin_bottom: 10px;
}

div.poll_intro {
    width : 650px;
    border : 1px solid black;
    border-radius : 4px;
    padding : 5px;
    margin_bottom: 10px;
}

div.poll_solution {
    width : 650px;
    border : 1px solid black;
    border-radius : 4px;
    padding : 5px;
    margin_bottom: 10px;
}

div.poll_items table { 
    border-collapse: collapse;
}

div.poll_items td {
    padding: 3px 0.5em;
    margin-left: 3px;
    border: 1px solid #CCCCCC;
    vertical-align: top;
}

td.poll_item_box {
    width : 20px;
}

td.poll_item_box.correct {
    background : #33A532;
}

td.poll_item_box.incorrect {
    background : #BB1E10;
}

td.poll_item_text {
    width : 605px;
}

button.poll_submit {
    margin : 3px;
    padding : 5px;
    background : #B0E0B0;
    border : 1px solid #70A070;
    border-radius: 3px;
}

button.poll_submit:hover {
    cursor : pointer;
    background : #C0F0C0;
}

button.poll_submitted {
    margin : 3px;
    padding : 5px;
    background : #D0FFD0;
    border : 1px solid #508050;
    color : #888888;
    border-radius: 3px;
}

button.poll_submitted:hover {
    cursor : pointer;
    background : #C0F0C0;
}

button.poll_state {
    width : 60px;
    font-weight: normal;
    color : #888888;
    background: #EEEEFF;
}

button.poll_state_active {
    width : 60px;
    font-weight: bold;
    color : #000000;
    background: #DDDDEE;
}

button.poll_mode {
    width : 80px;
    font-weight: normal;
    color : #888888;
    background: #EEEEFF;
}

button.poll_mode_active {
    width : 80px;
    font-weight: bold;
    color : #000000;
    background: #DDDDEE;
}

div.poll_items td.poll_result {
    position : relative;
    border-bottom : 2px solid black;
}

div.poll_items td.poll_mark {
    border-bottom : 2px solid black;
}

div.poll_count_bar {
    display : inline-block;
    width : 1px;
    height : 10px;
    background : #8888DD;
}

div.poll_count_box {
    display : inline-block;
    position : absolute;
    right : 5px;
}

div.mode_help {
    display : none;
    width : 600px;
    background : #EEEEDD;
}

span.group_table_header {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
